* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #1c1c25;
  width: 100%;
  min-height: 100vh;
}

.screen {
  width: 420px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 24px 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

label {
  width: 100%;
  margin: 6px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

input {
  margin: 6px;
  width: 100%;
  height: 42px;
  background: #252531;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  border: none;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

button {
  margin-top: 24px;
  width: 100%;
  height: 42px;
  background: #252531;
  border-radius: 1000px;
  cursor: pointer;

  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #ffffff;
  border: 1px solid #fff;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

ul {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: #252531;
  border-radius: 8px;
  align-items: center;
  padding: 6px;
  color: #ffffff;
}

li div {
  width: 100%;
}

.btn-trash {
  width: 50px;
  background: transparent;
  border: none;
  margin: 0px;
}
